@media screen and (max-width: 500px) {
    .border-search {
        flex-direction: column;
        align-items: center;
    }

    .block__partition {
        display: none;
    }

    .button-header.button > ul {
        flex-direction: column;
    }

    .button-header.button > ul {
        margin: 10px;
    }

    .search-selector {
        margin-top: 5px;
    }

    .container.mg-t.header-container>label{
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .doctor-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .doctor-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 925px) {
    .logo-main > div {
        display: none;
    }
}