@media screen and (max-width: 500px) {
    .header__container {
        top: 0;
        position: fixed;
        width: 100%;
        background-color: white;
        height: 60px;
    }

    .map > img {
        margin-top: 70px;
    }

    .border-search {
        flex-direction: column;
    }

    .block__partition {
        display: none;
    }

    .button__header.button > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .button__header.button > ul > li {
        margin: 20px auto 0 auto;
    }

    .button__header.button > ul > li > a {
        color: white;
        font-size: 25px;
    }

    .button__header.button {
        display: none;
    }

    .button__header.button.active {
        position: fixed;
        right: 0;
        top: 60px;
        background-color: #00ab77;
        display: block;
        width: 100%;
        height: 100%;
    }

    .search__selector {
        margin-top: 5px;
    }

    .header__burger_btn {
        display: block;
        position: fixed;
        right: 10px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
    }

    .header__burger_btn span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        left: 5px;
    }

    .header__burger_btn span:nth-child(1) {
        transform: translateY(-10px);
    }

    .header__burger_btn span:nth-child(3) {
        transform: translateY(10px);
    }

    .container.header__container.active > .header__burger_btn > span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .container.header__container.active > .header__burger_btn > span:nth-child(2) {
        display: none;
    }

    .container.header__container.active > .header__burger_btn > span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .dropdown__menu.gren {
        top: 20px;
    }

    .dropdown__menu {
        top: 10px;
    }

    .footer__bottom__info {
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .doctor-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .doctor-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 925px) {
    .logo__main> a > div {
        display: none;
    }
}