@media screen and (max-width: 500px) {
    .border-search {
        flex-direction: column;
        align-items: center;
    }

    .block__partition {
        display: none;
    }

    .button-header.button > ul {
        display: block;
    }

    .button-header.button {
        display: none;
    }

    .button-header.button.active{
        position: absolute;
        right: 0;
        top: 80px;
        background-color: #00ab77;
        border-radius: 20px;
        display: block;
    }

    .search-selector {
        margin-top: 5px;
    }

    .burger__menu{
        display: block;
    }

}

@media screen and (max-width: 1200px) {
    .doctor-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .doctor-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 925px) {
    .logo-main > div {
        display: none;
    }
}