.header__two {
    background-color: #46B3B2;
    height: 80px;
}
.header__containerTwo_item{
    height: 100%;
}
.nav__page {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.header__three {
    height: 80px;
}

.header__containerThree_item {
    height: 100%;
    border-bottom: 1px solid #C4C4C4;
}
