.header__two {
    background-color: #46B3B2;
    height: 80px;
}

.header__containerTwo_item {
    height: 100%;
}

.nav__page {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.header__three {
    height: 80px;
}

.header__containerThree_item {
    height: 100%;
    border-bottom: 1px solid #C4C4C4;
}

.header__containerThree_item > ul > li:nth-child(1) {
    list-style: none;
    margin-left: 0;
}

.header__containerThree_item > ul > li:nth-child(4) {
    color: #46b3b2;
}

.header__containerThree_item > ul {
    height: 100%;
    display: flex;
    align-items: center;
    color: #555555;
    padding: 0;
}

.header__containerThree_item > ul > li {
    margin-left: 30px;
}

.content {
    margin-top: 26px;
    display: flex;
}
.content__block_one{
    flex: 4;
}

.doctor__info {
    border-radius: 20px;
    border: #C4C4C4 solid 1px;
    height: 825px;
}

.content__block_two {
    flex: 9;
}

.doctor__info {
}

.doctor__info_one {
    border-bottom: #C4C4C4 solid 1px;
}

.doctor__info_one > * {
    margin: auto;
    text-align: center;
}

.doctor__one_img{
    margin-top: 30px;
}

.doctor__one_img > img {
    background-color: #00AB77;
    border-radius: 20px;
}

.doctor__one_name {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: #555555;
    margin-bottom: 15px;
}
.doctor__one_profesion{
    color: #46B3B2;
    margin-bottom: 30px;
}

.one__rating{
    margin-top: 15px;
    color: #397BF2;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.doctor__one_rating{
    margin-bottom: 40px;
}

.doctor__two_buttons{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.two__button_one{
    background-color: #46B3B2;
    height: 48px;
    width: 80%;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two__button_two{
    background-color: #F6B415;
    height: 48px;
    width: 80%;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctor__social{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.content__map{
    margin-top: 60px;
}

.content__map_txt{
    display: flex;
    align-items: center;
    color: #46b3b2;
}

.content__map_txt:before{
    content: url(../../../img/decorationIcon/location__icon.svg);
}

.content__map_map{
    margin-top: 10px;
    position: relative;
}

.map__pointer {
    position: absolute;
    top: 106px;
    left: 163px;
}